body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

.card{
    border: 2px solid;
    width: 18rem;
}

.card-text1 {
    font-size: 20px; 
    color: #333; 
    line-height: 1.5; 
    margin-top: 20px; 
}
.card-img-top{
    height: 46%;
}
.img-fluid{
    width: 100%;
    height: 100%;
}

.precio {
    display: flex;
    justify-content: space-around;
}
.mdetails{
    margin-top: auto;
    margin-right: 10px;
    margin-left: 10px;
  
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(12, 27, 41);
    color: white;
    padding: 10px;
    width: 100%;
    margin-top: auto; 
}
.col{
    border: 2px solid black;
}


.row .colt {
    font-size: large;
    font-weight: bold;
    background-color: #9d9c9c;
    border: 2px solid black;

}